.friendRows {
    display: flex;
    justify-content: space-between;
    .actions {
        display: flex;
        justify-content: flex-end;

        .dmAction:hover {
            color: red;
        }
        .otherAction:hover {
            color: green;
        }
    }

}
